.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 80px;
    gap: 20px;
}

.products {
    /* Adjust width to fit 5 items with gaps */
    margin-bottom: 20px;
    box-sizing: border-box;
}


/* Side Bar */

.filters {
    background-color: #343a40;
    color: white;
    width: 30%;
    /* Adjust the width of the sidebar */
    position: fixed;
    /* Set the sidebar to a fixed position */
    left: 0;
    top: 55px;
    height: 100vh;
    /* Extend the sidebar to the full height of the viewport */
    overflow-y: auto;
    /* Enable vertical scrolling in the sidebar */
    z-index: 2;
    /* Ensure the sidebar is above other content */
    display: flex;
    flex-direction: column;
    transition: transform 0.6s ease-in-out;
    /* Apply transition to transform property */
    transform: translateX(-100%);
    /* Initially move sidebar off-screen */
}

.filters.open {
    transform: translateX(0);
    /* Move sidebar in when open */
}

.filters>span {
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .filters {
      width: 100%;
      /* Adjust the width to occupy the full screen */
      transform: translateX(-100%);
      /* Initially move sidebar off-screen */
      z-index: 3;
      /* Ensure the sidebar is above other content */
    }
  
    .filters.open {
      transform: translateX(0);
      /* Move sidebar in when open */
    }
  }
  
  /* For medium screens (768px to 991px) */
  @media (min-width: 768px) and (max-width: 991px) {
    .filters {
      width: 60%;
      /* Adjust the width of the sidebar for medium screens */
    }
  }


/* cart item */

.title {
    font-size: 30px;
    
}



.cartItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%; /* Set the width to 100% to occupy the entire space */
    margin-bottom: 10px; /* Adds space between cart items */
}

.cartItem > * {
    margin-right: 10px; /* Adds space between elements inside a cart item */
}

.cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cartItemDetail > * {
    margin-bottom: 5px; /* Adds space between name and price */
}


/* Add to cart page */
.addCart {
    margin-top: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mainCart {
    display: flex;
    align-items: center;
  }
  
  .mainCart > span {
    margin-right: 20px;
  }


 

 