.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 80px;
    gap: 20px;
}

.products {
    /* Adjust width to fit 5 items with gaps */
    margin-bottom: 20px;
    box-sizing: border-box;
}


/* Side Bar */

.filters {
    background-color: #343a40;
    color: white;
    width: 30%;
    /* Adjust the width of the sidebar */
    position: fixed;
    /* Set the sidebar to a fixed position */
    left: 0;
    top: 55px;
    height: 100vh;
    /* Extend the sidebar to the full height of the viewport */
    overflow-y: auto;
    /* Enable vertical scrolling in the sidebar */
    z-index: 2;
    /* Ensure the sidebar is above other content */
    display: flex;
    flex-direction: column;
    transition: transform 0.6s ease-in-out;
    /* Apply transition to transform property */
    transform: translateX(-100%);
    /* Initially move sidebar off-screen */
}

.filters.open {
    transform: translateX(0);
    /* Move sidebar in when open */
}

.filters>span {
    padding-bottom: 20px;
}


/* cart item */

.title {
    font-size: 30px;
}

.cartItem {
    flex-wrap: wrap;
}

.cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}

.summary {
    width: 30%;
}


/* For products */


/* @media(max-width: 768px) {
    .productContainer {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
        margin-right: 222px;
    }
} */


/* @media (min-width: 768px) and (max-width: 992px) {
    .productContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        gap: 20px;
     
        margin-left: 60px;
        padding-top: 80px;
    }
    .products {
        width: calc(33.33% - 20px);
       
        margin-bottom: 20px;
        margin-right: 20px;
       
    }
    .products:nth-child(3n) {
        margin-right: 0;
        
    }
} */


/* @media (min-width: 768px) {
    .productContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;
        gap: 20px;
        margin-left: 60px;
        padding-top: 80px;
    }
    .products {
        width: calc(20% - 16px);
        /* Calculate width to fit 5 items with gaps */


/* margin-bottom: 20px; */


/* }
.products:nth-child(5n) {
    margin-right: 0;
    /* Remove margin for every 5th item */


/* } */


/* } */

*/ */
/* Media queries for responsiveness */


/* @media (min-width: 992px) {
    .productContainer {
        width: 98%;
        
    }
    .products {
        width: 19%;
      
        margin: 20px;
        
    }
    .products .card {
        width: 100%;
    }
}



 

@media (max-width: 992px) {
    .filters {
        transform: translateX(-100%);
        width: 70%;
       
    }
}

@media (max-width: 992px) {
    .productContainer {
    
        padding-top: 45px;
        display: flex;
        flex-direction: column;
     
    }
    .products {
        width: 50%;
     
        margin: 10px 1%;
    
    }
    .products .card {
        width: 100%;
    }
}*/

@media (min-width: 992px) {
    .filters {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .filters {
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: transform 0.6s ease-in-out;
        z-index: 2;
    }
    .filters.open {
        transform: translateX(0);
    }
}


/* .productContainer {
        width: 100%;
        padding-top: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        margin: 0;
       
    }
    .products {
        width: 90%;
        margin: 10px auto;
        
    }
    .products .card {
        width: 100%;
    }
     */