.home {
    display: flex;
}

.productContainer {
    display: flex;
    width: 70%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    /* margin-left: auto; */
    padding-top: 80px;
}

.filters {
    background-color: #343a40;
    color: white;
    width: 30%;
    /* Adjust the width of the sidebar */
    position: fixed;
    /* Set the sidebar to a fixed position */
    left: 0;
    top: 55px;
    height: 100vh;
    /* Extend the sidebar to the full height of the viewport */
    overflow-y: auto;
    /* Enable vertical scrolling in the sidebar */
    z-index: 2;
    /* Ensure the sidebar is above other content */
    display: flex;
    flex-direction: column;
    transition: transform 0.6s ease-in-out;
    /* Apply transition to transform property */
    transform: translateX(-100%);
    /* Initially move sidebar off-screen */
}

.filters.open {
    transform: translateX(0);
    /* Move sidebar in when open */
}

.filters>span {
    padding-bottom: 20px;
}

.title {
    font-size: 30px;
}

.products {
    width: 30%;
    margin: 10px;
}

.cartItem {
    flex-wrap: wrap;
}

.cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}

.summary {
    width: 30%;
}


/* Media queries for responsiveness */

@media (min-width: 992px) {
    .productContainer {
        width: 98%;
        /* Reduce width to display more products */
    }
    .products {
        width: 19%;
        /* Adjust width to show more products */
        margin: 20px;
        /* Adjust margin between products */
    }
    .products .card {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .filters {
        /* Keep the sidebar open by default on larger screens */
        transform: translateX(0);
    }
}


/* For screens smaller than 992px */

@media (max-width: 992px) {
    .filters {
        transform: translateX(-100%);
        /* Initially move sidebar off-screen on smaller screens */
    }
}

@media (max-width: 992px) {
    .productContainer {
        width: 100%;
        padding-top: 45px;
        justify-content: flex-start;
        /* Align products to the start */
    }
    .products {
        width: 48%;
        /* Adjust width to show more products */
        margin: 10px 1%;
        /* Adjust margin between products */
    }
    .products .card {
        width: 100%;
    }
}